/* LAYOUT OF SAMPLE PAGE */
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Arial, Verdana, sans-serif;
}

h1 {
	color: #555;
}

main {
	width: 30%;
	height: 100%;
	margin: 0 auto;
}

main #input-area {
		margin-top: 50%;
		text-align: center;
}

main #input-area #sample-capslock-input {
	width: 100%;
	height: 30px;
	padding: 3px;
	color: #555;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
}


/* HERE I'M USING THE CUSTOM CLASSE THAT I PROVIDED IN OPTIONS */
.customClass1 {
	color: #FFB3B3;
}

.customClass2 {
	padding-top: 5px;
}